<%- include ('../partials3/sidebar') %>
<%- include ('../partials3/header') %>
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card  card-plain">
        <div class="card-header">
            <a href=""><h3 class="card-title"> Danh Sách Bài Viết</h3></a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table tablesorter " id="">
                <thead class=" text-primary">
                <tr>
                    <th>
                    Họ Và Tên
                    </th>
                    <th>
                    Email
                    </th>
                    <th>
                    Mô Tả Bản Thân
                    </th>
                    <th class="text-center">
                    Tác Vụ
                    </th>
                </tr>
                </thead>
                <tbody>
                    <% if(listUser && listUser.length){ %>
                        <%listUser.forEach(item => {%>
                            <%if(item.role == 0) {%> 
                                <tr>
                                    <td><a href="/users/info-user?userID=<%=item._id%>"><%= item.fullname.substring(0,35) %> </a></td>
                                    <td><%= item.email %></td>
                                    <td ><%= item.description.substring(0,30)%></td>
                                    <td>
                                        <button class="btn btn-danger" _userID="<%= item._id%>" id="btnRemoveUser" type='submit'>
                                        <i class="fa fa-times"></i> 
                                            Xóa
                                        </button>
                                    </td>
                                </tr>
                            <% } %> 
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<%- include ('../partials3/footer') %>


<script>

$(document).on('click', '#btnRemoveUser',function(e){
        e.preventDefault();
        let userID = $(this).attr('_userID');
        console.log({userID})
        if (window.confirm('Bạn có chắc chắn xóa không?')) {
            
            $.ajax({
                url: `/users/remove-user/${userID}`,
                method: 'POST',
                success: resp=>{
                    if(! resp.error){
                        window.location.href = "/listTable"
                    }else{
                        toastr.warning("Ban kh xoa dc", "Canh Bao")
                    }
                }
            })
        }
    })
</script>