<%- include ('../partials3/sidebar') %>
<%- include ('../partials3/header') %>
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card  card-plain">
        <div class="card-header">
            <a href=""><h3 class="card-title"> Danh Sách Bài Viết</h3></a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table tablesorter " id="">
                <thead class=" text-primary">
                <tr>
                    <th>
                    STT
                    </th>
                    <th>
                    Tên Bài Viết
                    </th>
                    <th>
                    Nội Dung
                    </th>
                    <th>
                    Người Viết
                    </th>
                    <th class="text-center">
                    Tác Vụ
                    </th>
                </tr>
                </thead>
                <tbody>
                    <% if(listPost && listPost.length){ %>
                        <%listPost.forEach((item, index) => {%>
                            <tr>
                                <td><%= index+1 %> </td>
                                <td><a href="/posts/info-post?postID=<%=item._id%>"><%= item.name.substring(0,35) %> </a></td>
                                <td ><%- item.content.substring(0,30)%></td>
                                <td><%= item.user.fullname %></td>
                                <td>
                                    <button class="btn btn-danger" _postID="<%= item._id%>" _userID="<%= item.user._id %> " id="btnRemovePost" type='submit'>
                                    <i class="fa fa-times"></i> 
                                        Xóa
                                    </button>
                                    <a href="/posts/edit-post/<%= item._id %> ">
                                        <button class="btn btn-success" id="btnUpdate" type='submit'>
                                        <i class="fa fa-check-square-o"></i>
                                        Sửa
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<%- include ('../partials3/footer') %>


<script>

    $(document).on('click', '#btnRemovePost',function(e){
        e.preventDefault();
        let postID = $(this).attr('_postID');
        let userID = $(this).attr('_userID');

        console.log({postID})
        if (window.confirm('Bạn có chắc chắn xóa không?')) {
            
            $.ajax({
                url: `/posts/remove-post?postID=${postID}&userID=${userID}`,
                method: 'POST',
                success: resp=>{
                    if(! resp.error){
                        window.location.href = "/listTable"
                    }else{
                        toastr.warning("Ban kh xoa dc", "Canh Bao")
                    }
                }
            })
        }
    })
</script>